<div class="container mt-5">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 animated fast fadeIn">EVITA COVID</h1>
            <p class="lead text-center" style="color: white; font-weight: bold;">Encuentra todos tus productos en un solo lugar.</p>
        </div>
    </div>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" height="200">
            <img src="assets/img/sucursal-principal.jpeg" alt="Sucursal">
        </div>
        <div class="carousel-item">
            <img src="assets/img/sucursal1.jpeg" alt="Sucursal ">
        </div>
        <div class="carousel-item ">
            <img src="assets/img/sucursal2.jpeg" alt="Sucursal ">
        </div>
        <div class="carousel-item ">
            <img src="assets/img/sucursal4.jpeg" alt="Sucursal ">
        </div>
        <div class="carousel-item ">
            <img src="assets/img/sucursal6.jpeg" alt="Sucursal ">
        </div>
        <div class="carousel-item ">
            <img src="assets/img/sucursal7.jpeg" alt="Sucursal ">
        </div>
        <div class="carousel-item ">
            <img src="assets/img/sucursal8.jpeg" alt="Sucursal ">
        </div>
    </div>
</div>
<div class="container">
    <div class="container mt-5 mb-5">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 animated fast fadeIn" style="font-size: 2rem;">ENCUENTRA TU SUCURSAL MÁS CERCANA</h1>
            </div>
        </div>
    </div>
    <div class="mt-5 mb-5">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 animated fast fadeIn" style="font-size: 2rem;">Tecámac</h1>
            </div>
        </div>
    </div>
    <div class="card-row mb-5">
        <div class="text-center" style="height: 400px; margin-bottom: 3rem;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d234.75246455660786!2d-98.97248527363091!3d19.710945244081813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ed264140d021%3A0x2d5b326d6eb6e11d!2zTXVlYmxlcsOtYSAiQSAmIEci!5e0!3m2!1ses!2smx!4v1598830005990!5m2!1ses!2smx"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="text-center" style="height: 400px; margin-bottom: 3rem;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d939.0016793855558!2d-98.97162758601151!3d19.71233815148168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ed262b7c6b6d%3A0x4470cd2f22b6da55!2sAv.%205%20de%20Mayo%2041%2C%20Tec%C3%A1mac%20Centro%2C%20Tecamac%2C%2055740%20Tec%C3%A1mac%20de%20Felipe%20Villanueva%2C%20M%C3%A9x.!5e0!3m2!1ses!2smx!4v1598830712502!5m2!1ses!2smx"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="text-center" style="height: 400px; margin-bottom: 3rem;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d939.019430175199!2d-98.9752526707718!3d19.709314961707673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ed242c2d8189%3A0x374145773464b7e3!2sUniformes%20Y%20Bordados%20%22Del%20Soto%22!5e0!3m2!1ses!2smx!4v1598832010492!5m2!1ses!2smx"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="text-center" style="height: 400px; margin-bottom: 3rem;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d939.2158533993328!2d-99.00294287077192!3d19.675831761972955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ed780787b1cd%3A0xe8a7b2c8512aac29!2sImpacto%20Publicitario!5e0!3m2!1ses!2smx!4v1598832179130!5m2!1ses!2smx"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    <!-- Pachuca -->
    <div class="mt-5 mb-5 ">
        <div class="jumbotron jumbotron-fluid ">
            <div class="container ">
                <h1 class="display-4 animated fast fadeIn " style="font-size: 2rem; ">Pachuca</h1>
            </div>
        </div>
    </div>
    <div class="card-row mb-5">
        <div class="text-center" style="height: 400px; margin-bottom: 3rem;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d936.9132695020998!2d-98.77731867077158!3d20.064968858863438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1a121669ec4a1%3A0xe56faa16b731eb11!2sMobile%20Innovation!5e0!3m2!1ses!2smx!4v1598831522759!5m2!1ses!2smx"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="text-center" style="height: 400px; margin-bottom: 3rem;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d936.622018488273!2d-98.75438527077156!3d20.11367565847012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d10a0753b2aadd%3A0x3f09c2b12a678757!2sAbarrotes%20Los%20Angeles!5e0!3m2!1ses!2smx!4v1598831890628!5m2!1ses!2smx"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    <div class="mt-5 mb-5 ">
        <div class="jumbotron jumbotron-fluid ">
            <div class="container ">
                <h1 class="display-4 animated fast fadeIn " style="font-size: 2rem; ">Zumpango</h1>
            </div>
        </div>
    </div>
    <div class="card-row mb-5">
        <div class="text-center" style="height: 400px; margin-bottom: 3rem;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d938.4983086017453!2d-99.0983680755871!3d19.79788420517452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d18da565ed29e3%3A0xb5398edd43a57545!2sConsultorio!5e0!3m2!1ses!2smx!4v1598832398126!5m2!1ses!2smx"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="text-center" style="height: 400px; margin-bottom: 3rem;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d938.4883588051622!2d-99.10343487077176!3d19.799571560990444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d18bf792fe8eb5%3A0xb392b6aa868cf21f!2sJorge%20Jim%C3%A9nez%20Cant%C3%BA%204%2C%20Santiago%201ra%20Secc%2C%2055600%20Zumpango%20de%20Ocampo%2C%20M%C3%A9x.!5e0!3m2!1ses!2smx!4v1598832569688!5m2!1ses!2smx"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>