<div class="container mt-5">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 animated fast fadeIn">EVITA COVID</h1>
            <p class="lead text-center" style="color: white; font-weight: bold;">Encuentra todos tus productos en un solo lugar.</p>
        </div>
    </div>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" height="200">
            <img src="assets/img/sucursal-principal.jpeg" alt="Sucursal">
        </div>
        <div class="carousel-item">
            <img src="assets/img/sucursal1.jpeg" alt="Sucursal ">
        </div>
        <div class="carousel-item ">
            <img src="assets/img/sucursal2.jpeg" alt="Sucursal ">
        </div>
        <div class="carousel-item ">
            <img src="assets/img/sucursal4.jpeg" alt="Sucursal ">
        </div>
        <div class="carousel-item ">
            <img src="assets/img/sucursal6.jpeg" alt="Sucursal ">
        </div>
        <div class="carousel-item ">
            <img src="assets/img/sucursal7.jpeg" alt="Sucursal ">
        </div>
        <div class="carousel-item ">
            <img src="assets/img/sucursal8.jpeg" alt="Sucursal ">
        </div>
    </div>
</div>
<div class="container">
    <div class="container mt-5 mb-5">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 animated fast fadeIn" style="font-size: 2rem;">ENCUENTRA TU SUCURSAL MÁS CERCANA</h1>
            </div>
        </div>
    </div>
    <div class="mt-5 mb-5">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 animated fast fadeIn" style="font-size: 2rem;">Tecámac</h1>
            </div>
        </div>
    </div>
    <div class="card-row mb-5">
        <div class="text-center ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.039570473357!2d-98.97468468508896!3d19.710939386726743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDQyJzM5LjQiTiA5OMKwNTgnMjEuMCJX!5e0!3m2!1ses!2smx!4v1598715186774!5m2!1ses!2smx "
                width="100% " height="100% " frameborder="0 " style="border:0; " allowfullscreen=" " aria-hidden="false " tabindex="0 "></iframe>
        </div>
        <div class="text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.00574666305!2d-98.97382258508891!3d19.71237948672601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDQyJzQ0LjYiTiA5OMKwNTgnMTcuOSJX!5e0!3m2!1ses!2smx!4v1598717408464!5m2!1ses!2smx "
                width="100% " height="100% " frameborder="0 " style="border:0; " allowfullscreen=" " aria-hidden="false " tabindex="0 "></iframe>
        </div>
        <div class="text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.0780488953137!2d-98.97688958508897!3d19.709300986727722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDQyJzMzLjUiTiA5OMKwNTgnMjguOSJX!5e0!3m2!1ses!2smx!4v1598718437015!5m2!1ses!2smx"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.8622289854943!2d-99.00458428508952!3d19.67588228674661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDQwJzMzLjIiTiA5OcKwMDAnMDguNiJX!5e0!3m2!1ses!2smx!4v1598718659229!5m2!1ses!2smx"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    <!-- Pachuca -->
    <div class="mt-5 mb-5 ">
        <div class="jumbotron jumbotron-fluid ">
            <div class="container ">
                <h1 class="display-4 animated fast fadeIn " style="font-size: 2rem; ">Pachuca</h1>
            </div>
        </div>
    </div>
    <div class="card-row mb-5">
        <div class="text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d142645.9515814355!2d-98.80780833349093!3d20.031494698283456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjDCsDAzJzUzLjgiTiA5OMKwNDYnMzYuNCJX!5e0!3m2!1ses!2smx!4v1598717859383!5m2!1ses!2smx "
                width="100% " height="100% " frameborder="0 " style="border:0; " allowfullscreen=" " aria-hidden="false " tabindex="0 "></iframe>
        </div>
        <div class="text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2649.181410589309!2d-98.75511996677241!3d20.11283184054303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjDCsDA2JzQ5LjQiTiA5OMKwNDUnMTMuNiJX!5e0!3m2!1ses!2smx!4v1598718349178!5m2!1ses!2smx"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    <div class="mt-5 mb-5 ">
        <div class="jumbotron jumbotron-fluid ">
            <div class="container ">
                <h1 class="display-4 animated fast fadeIn " style="font-size: 2rem; ">Zumpango</h1>
            </div>
        </div>
    </div>
    <div class="card-row mb-5">
        <div class="text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d938.499654608489!2d-99.09875863011236!3d19.79765592937415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDQ3JzUyLjQiTiA5OcKwMDUnNTMuOCJX!5e0!3m2!1ses!2smx!4v1598718877239!5m2!1ses!2smx"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3753.95225522918!2d-99.10512448508752!3d19.799621586676874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDQ3JzU4LjYiTiA5OcKwMDYnMTAuNiJX!5e0!3m2!1ses!2smx!4v1598719300148!5m2!1ses!2smx"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>