<div class="container mt-3">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="animated fast fadeIn">TERMOMETROS</h1>
        </div>
    </div>
</div>
<div class="container main-container mt-5">
    <div class="card-row">
        <div class="card mb-4" *ngFor="let termometro of termometros">
            <img [src]="termometro.img" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">{{ termometro.producto | uppercase}}</h4>
                <p class="card-text"><span>Caracteristicas:</span> {{ termometro.caracteristicas }}</p>
                <p class="card-text"><small class="text-muted"><span>Precio menudeo: {{ termometro.precio }}</span></small></p>
            </div>
        </div>
    </div>
</div>