<nav class="navbar navbar-expand-lg navbar-dark  fondo" style="background-color:rgba(0, 0, 0, 0.76); box-shadow: 0px 10px 21px 5px rgba(240, 238, 238, 0.9);">

    <a class="navbar-brand" href="#">
        <img src="assets/img/logo2.png" width="130" alt="" loading="lazy">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link animated fast fadeIn" [routerLink]="['home']">Home </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link animated fast fadeIn" [routerLink]="['cubrebocas']">Cubrebocas</a>
            </li>
            <li class="nav-item animated fast fadeIn" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['caretas']">Caretas</a>
            </li>
            <li class="nav-item animated fast fadeIn" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['gel-antibacterial-desinfectantes']">Sanitizantes/desinfectantes</a>
            </li>
            <li class="nav-item animated fast fadeIn" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['guantes']">Guantes</a>
            </li>
            <li class="nav-item animated fast fadeIn" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['termometros-infrarrojos']">Termometros infrarojos</a>
            </li>
            <li class="nav-item animated fast fadeIn" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['tapete-sanitizante']">Tapete sanitizante</a>
            </li>
            <li class="nav-item animated fast fadeIn" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['lentes']">Lentes</a>
            </li>
            <li class="nav-item animated fast fadeIn" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['senalizaciones']">Señalizaciones</a>
            </li>
            <li class="nav-item animated fast fadeIn" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['varios']">Varios</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto" aria-label="" (keyup.enter)="buscarHeroe(buscarTexto.value)" #buscarTexto> -->
            <!-- <button (click)="buscarHeroe(buscarTexto.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Buscar</button> -->
        </form>
    </div>
</nav>