/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: black;
}

h1 {
    text-shadow: 3px 3px 3px rgba(7, 230, 200, 0.9);
    color: white;
    text-align: center;
}

.navbar {
    position: sticky!important;
    top: 0;
    z-index: 3!important;
    -webkit-transform: translate3d(3, 3, 3);
}

.card {
    background-color: #01579b!important;
    box-shadow: 0px 10px 21px 5px rgba(240, 238, 238, 0.9);
}

.card-body {
    box-shadow: 0px 10px 21px -9px rgba(7, 230, 200, 0.9);
}

h4,
p,
span,
small {
    color: white;
}

p {
    font-size: .9rem;
}

.card {
    margin: auto;
    width: 82%;
    margin-bottom: 5rem!important;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 380px;
        width: 100%;
    }
}

@media (min-width: 1280px) {
    .carousel-item img {
        width: 100%;
        height: 900px;
    }
    .card {
        width: 45%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .carousel-item img {
        width: 100%;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .carousel-item img {
        width: 100%;
    }
}

.jumbotron {
    background-color: #3c484e2d!important;
    box-shadow: 0px 10px 21px 5px #01579b;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}